.MuiCheckbox-colorSecondary-62.MuiCheckbox-checked-58 {
    color: rgb(43, 189, 97) !important;
    cursor: pointer !important;
}

.MuiTableRow-root-36.TableSelectRow-selected-183 {
    background-color: rgba(43, 189, 97, 0.101) !important;
    cursor: pointer !important;
}
